{% extends 'base-site.html' %}

{% block title %}Resetear contraseña{% endblock %}

{% block content %}
  <h3 class="text-center">Resetear contraseña</h3>
  <hr/>

  {% if form.errors %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger alert-dismissible fade show">
        {{ error }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
            <span aria-hidden="true">×</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}

  <form method="post" class="form">
    {% csrf_token %}
    {% for field in form %}
    <div class="row form-group">
    {% if field.errors %}
        <div class="col-md-12">
            <div class="alert alert-warning alert-dismissible fade show">
                {{ field.errors }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </div>
    {% endif %}
      <div class="col-md-5">
          <label class="form-control-label">
          	<b>
          		{% if field.name != "username" %}
          			{{ field.label_tag }}
          		{% else %}
          			Correo electrónico:
          		{% endif %}
          	</b>
          </label>
      </div>
      <div class="col-md-7">
        {{ field }}
      </div>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Reiniciar contraseña</button>
  </form>

  <script type="text/javascript">
  	$("input").addClass('form-control');
  </script>
{% endblock %}