astroid==2.3.3
certifi==2019.11.28
chardet==3.0.4
colorclass==2.2.0
coverage==5.0.3
Django==1.11.29
-e git+https://github.com/radiac/django-conversate.git@786c1220889f053a3b236fe34f634044b995690a#egg=django_conversate
django-formtools==2.2
django-nose==1.4.6
docopt==0.6.2
gunicorn==20.0.4
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
nose==1.3.7
packaging==20.0
pip-upgrader==1.4.15
psycopg2-binary==2.8.4
pylint==2.4.4
pyparsing==2.4.6
pytz==2019.3
requests==2.22.0
six==1.14.0
terminaltables==3.1.0
typed-ast==1.4.1
urllib3==1.25.8
wrapt==1.11.2
