.navbar-brand img {
	margin: 5px;
	max-width: 220px !important;
}

.content .card .card-body, .modal-body p, .modal-body input {
	font-size: 14px;
}

.acciones i:hover {
	cursor: pointer;
}

.table-responsive .table {
	margin-bottom: 0;
}