<div id="main-menu" class="main-menu collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li class="active">
            <a style="color #f8f9fa" href="{% url 'gestion:dashboard' %}"> <i class="menu-icon fa fa-dashboard"></i>Inicio </a>
        </li>

        <h3  style="color : #2a2a2a" class="menu-title">Profesores</h3><!-- /.menu-title -->
        <li>
            <a style="color : #2a2a2a !important" href="{% url 'gestion:listar-profesores' %}"> <i class="menu-icon fa fa-group"></i>Gestionar profesores</a>
        </li>

    </ul>
</div><!-- /.navbar-collapse -->