{% extends 'base.html' %}

{% block title %}Título de la página{% endblock %}

{% block navegacion %}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Título de la página</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                  <li class="active">Profesores / Página actual</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4>Hola</h4>
        </div>
        <div class="card-body">
            Hola, aquí hay contenido.
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	// Aquí va etiquetas javascript personalizadas si tienen
</script>
{% endblock %}

{% block css %}
<style type="text/css">
/* Aquí va codigo css personalziado dentro de etiquetas style */
</style>
{% endblock %}