{% extends 'base.html' %}

{% block title %}Título de la página{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4>Hola</h4>
        </div>
        <div class="card-body">
            Hola, aquí hay contenido.
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<!-- Aquí va etiquetas javascript personalizadas -->
{% endblock %}

{% block css %}
<!-- Aqúí va codigo css personalziado dentro de etiquetas style -->
{% endblock %}